/* Estilo base do corpo */
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d1117;
    margin: 0;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=58443') 8 8, auto; /* Cursor com imagem */
    margin: 0;
    height: 100vh; /* Garantindo que a altura da tela ocupe 100% da altura da janela */
    overflow: hidden;
    
    html {
      height: 100%; /* Fazendo o html ocupar 100% da altura */
    }
}

/* Estilo da área de login */
.login-container {
    background-color: #161b22;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #fff;
}

/* Títulos */
h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

p {
    color: #8b949e;
    margin-bottom: 1.5rem;
}

/* Campos de input */
.input-group {
    display: flex;
    align-items: center;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.input-group i {
    color: #8b949e;
    margin-right: 0.75rem;
}

.input-group input {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    width: 100%;
}

.input-group .toggle-password {
    cursor: pointer;
}

/* Botão de login */
button {
    background-color: #6e40c9;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a32a3;
}

/* Versão */
.version {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #58a6ff;
}

.version a {
    color: #58a6ff;
    text-decoration: none;
}
#version_color a {
  color: gray;
}
.password {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #58a6ff;
}

.password a {
    color: #58a6ff;
    text-decoration: none;
}
#password_color a {
  color: #6e40c9;
}

/* Estilo para as mensagens de erro */
#error-msg, #custom-error-msg, #warning-msg {
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

/* Mensagem de erro - Email ou senha inválidos */
#error-msg {
    color: #721c24;
}

/* Mensagem de erro - Usuário desabilitado */
#custom-error-msg {
    color: #856404;
}

/* Mensagem de aviso */
#warning-msg {
    color: #856404;
}
#logo {
    max-width: 100px;
    max-height: 100px;
    top: 10px;
}

